button {
    background-color: transparent;
    border-width: 0;

display: inline-block;
font-size: 16px;
}

.hydration {
    display: table-header-group;
    max-width: 50%;  
    
}
.plastic {
    max-width: 50%;  
    display: table-header-group;
}